*.png
*.ipynb_checkpoints
*.pickle
butane/dft/kinetics
butane/dft/thermo
butane/dft/atom_corrections
*.cti
slurm-*
*/slurm-*
__pycache__


chem_*.cti
delay_*.txt
*.inp
*.npy
*.csv


debug/
autotst/my_tiny_db/
butane/models/improved_models/
butane/models/modifications/
butane/models/rmg_1week/

butane/dft/no_rotors_thermo/

butane/sensitivity_analysis/base_rmg24/results/flame_speeds/


